body{
    color: #707372;
}
h2{
    font-size: 48px;
    text-align: center;
}
h3{
    font-size: 24px;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: #707372;
    padding: 15px 30px;
}
h3,p{
    margin: 0;
}
.border-green{
    border: 2px solid #78BE20;
    border-radius: 5px;
}
.main-container{
    background: #fafafa;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
}
.accordion-container{
    padding: 25px 15px 25px 30px;
    border-bottom: 1px solid #707372;
}
.accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-header span{
    font-size: 45px;
    font-weight: bolder;
    color: #78BE20;
}
.accordion-body a{
    display: inline-block;
}
    
.accordion-body,
.accordion-header span + span{
    display: none;
}
.accordion-show .accordion-header span:first-of-type{
    display: none;
}
.accordion-show .accordion-body,
.accordion-show .accordion-header span + span
{
    display: block;
}


.accordion-body p:nth-of-type(2){
    margin: 30px 0;
}